*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; /* Kutunun boyutunu ayarlamak için */
}

/* Header ve Footer için genel stil ayarları */

header {
    background-color: #213448;
    display: flex; /* Flexbox kullanarak yatayda hizalama */
    justify-content: space-around; /* Yatayda boşluk bırakmak için */
    align-items: center; /* Dikeyde ortalamak için */
    width: 100%;
    font-weight: 600;
}

.logo{
    text-decoration: none; /* Alt çizgiyi kaldırmak için */
    color: #fff;
    display: flex; /* Flexbox kullanarak logo metnini hizalamak için */
    flex-direction: column; /* Logo metnini dikey hizalamak için */
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.logo span {
    color: orange;
}

.logo:hover {
    color: orange;
    transition: color 0.7s ease;
}

header nav ul{
    list-style-type: none; /* Liste işaretlerini kaldırmak için */
    display: flex; /* Flexbox kullanarak yatayda hizalama */
    gap: 10px; /* Elemanlar arasında boşluk bırakmak için */
    margin: auto;
    padding: 0; /* Varsayılan padding'i sıfırlamak için */
}

header nav ul li a i{
    padding-right: 10px;
    font-size: 20px;
}

header nav ul li a {
    text-decoration: none; /* Alt çizgiyi kaldırmak için */
    color: #fff;
    padding: 10px 20px;
    display: inline-block; /* Elemanları blok olarak göstermek için */
    border: 1px solid white;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #fff;
    color: #213448;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header nav ul li a.login {
    background-color: orange;
}

header nav ul li a.login:hover {
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header nav ul li a.active {
    background-color: #fff;
    color: #213448;
    border-radius: 5px;
}

footer {
    display: flex; /* Flexbox kullanarak yatayda hizalama */
    justify-content: space-around; /* Yatayda boşluk bırakmak için */
    align-items: center; /* Dikeyde ortalamak için */
    background-color: #213448;
    color: #fff;
    width: 100%; /* Tüm genişliği kaplamak için */
}

footer p {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: orange;
    transition: color 0.3s ease;
}   

/* Hakkımda sayfası için stil ayarları */

.profil-fotografi {
    width: 100%;
    max-width: 650px;
    height: auto;
    object-fit: cover; /* Resmi kapsayacak şekilde kes */
}

section {
    overflow-x: hidden; /* Menü taşmasını engelle */
}

/* Özgeçmiş kısmı için stil ayarları */

.hakkimda table tr td a{
    text-decoration: none; /* Alt çizgiyi kaldırmak için */
}

.sertifikalarim a {
    text-decoration: none; /* Alt çizgiyi kaldırmak için */
    color: black; 
}

.sertifikalarim .card {
    transition: transform 0.5s ease; /* Geçiş efekti */
}

.sertifikalarim .card:hover {
    transform: scale(1.05); /* Hover olduğunda büyüt */
}

/* Şehrim sayfası için stil ayarları */

.slider{
    max-width: 1200px; /* 1200px'e kadar büyüyebilir ama %100 küçük kalır */
    margin: 0 auto; /* Ortalamak için */
}

.sehrim img{
    max-width: 1200px; /* 1200px'e kadar büyüyebilir ama %100 küçük kalır */
    max-height: 680px; /* 680px'e kadar büyüyebilir ama %100 küçük kalır */
    object-fit: cover; /* Resmi kapsayacak şekilde kes */
    margin: 0 auto; /* Ortalamak için */
}

/* Mirasımız sayfası için stil ayarları */

.container{
    max-width: 1200px; /* 1200px'e kadar büyüyebilir ama %100 küçük kalır */
}

/* Login sayfası için stil ayarları */

.login-form {
    width: 100%;
    max-width: 400px;
}

/* Back to Top butonu için stil ayarları */

#backtotop {
    position: fixed; 
    bottom: 10px;
    right: 10px;
}

#backtotop i {
    font-size: 45px;
    transition: color .6s;
}

#backtotop i:hover {
    color: orange;
}
